body{
    background:#0F172A;
    color:white;
    font-family:'Poppins',sans-serif;
    text-align:center;
    margin-top:50px;
}

input{
    width:300px;
    padding:15px;
    background:#334155;
    color:white;
    border:none;
    border-radius:12px;
    font-size:16px;
}

input::placeholder{
    color:#94A3B8;
}

input:focus{
    outline:none;
    border:2px solid #3B82F6;
    box-shadow:0 0 15px rgba(59,130,246,.4);
}

button{
    background:#3B82F6;
    color:white;
    padding:14px 28px;
    border:none;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563EB;
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(59,130,246,.4);
}

img{
    background:white;
    padding:20px;
    border-radius:16px;
    margin-top:25px;
    display:inline-block;
}

form{
    width:90%;
    max-width:500px;
    margin:50px auto;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}
form{
    background:rgba(30,41,59,.85);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,.08);
}

@media(max-width:500px){
    .container{
        width:90%;
        padding:20px;
    }

    h1{
        font-size:26px;
    }

    img{
        width:180px;
    }
}
div{
    margin-right:10px;
}